body{
        font-family: 'Poppins', sans-serif;
        margin: 0;
        
    
}

.head-web{
    color: orange;
    
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
        width:95%;
        height: 140%;
        border-radius:85%;
        border: rgb(36, 89, 110) solid 2px;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 8px 25px;
    border-radius: 5px;
    color: whitesmoke;
    font-style: 700;
    
}
.back-ground{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   


}
#go-dawn{
    padding-top:10em;


}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;


}